:root {
    --color-primario: #ff6347;
    --color-fondo: #f0f0f0;
    --color-texto: #333;
    --color-blanco: #fff;
    --color-borde: #ddd;
    --color-focus: #ff4500;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-texto);
}

.auth-page {
    background: var(--color-primario);
}

.auth-page main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.auth-container {
    width: 100%;
    max-width: 350px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    background-color: var(--color-blanco);
    border: 2px solid var(--color-borde);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 35px;
}

.auth-form h1 {
    text-transform: uppercase;
    color: var(--color-primario);
    text-align: center;
    letter-spacing: 2px;
    font-size: 28px;
    margin-bottom: 10px;
}

.auth-form h2 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.auth-form label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.auth-form input {
    padding: 10px;
    border: 2px solid var(--color-borde);
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
}

.auth-form input:focus {
    outline: none;
    border: 2px solid var(--color-focus);
}

.auth-form button {
    text-transform: uppercase;
    background-color: var(--color-primario);
    color: var(--color-blanco);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

.auth-form button:hover {
    background-color: var(--color-focus);
    cursor: pointer;
}

.auth-link {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}

.auth-link p {
    text-align: center;
    font-size: 12px;
}

.auth-link a {
    text-decoration: none;
    color: var(--color-primario);
    font-weight: bold;
    transition: color 0.3s ease;
}

.auth-link a:hover {
    text-decoration: underline;
    color: var(--color-focus);
}

#logoutButton {
    background: var(--color-primario);
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

#logoutButton:hover {
    background: var(--color-focus);
}

.client-page {
    background-color: var(--color-fondo);

    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";

    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr 60px;
    min-height: 100vh;
}

header {
    grid-area: header;
    display: flex;
    background-color: var(--color-blanco);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 3px solid var(--color-borde);
}

h1 {
    color: var(--color-primario);
}

.nav-container {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    line-height: 20px;
}

.navItem a {
    text-decoration: none;
    color: var(--color-texto);
}

.navItem a:hover {
    color: var(--color-focus);
}

.navItem span {
    background-color: var(--color-primario);
    border-radius: 100%;
    padding: 5px;
    color: var(--color-blanco);
    font-weight: bold;
}

aside {
    grid-area: aside;
    background-color: var(--color-blanco);
    padding: 10px;
}

aside h2 {
    color: var(--color-primario);
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-borde);
    text-transform: uppercase;
    font-size: 18px;
}

#lista-categorias {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.categoria a {
    text-decoration: none;
    color: var(--color-texto);
    display: block;
    padding: 10px;
    border-radius: 10px;
}

.categoria a:hover {
    color: var(--color-focus);
    background-color: var(--color-fondo);
}

.categoria a.categoria-activa {
    background-color: var(--color-primario);
    color: var(--color-blanco);
}

.client-page main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.form-buscador,
#contenedor-productos {
    width: 100%;
    max-width: 800px;
}

.form-buscador {
    background-color: var(--color-blanco);
    margin: 20px 0px;
    padding: 20px;
    display: flex;
    gap: 10px;
    border-radius: 8px;

}

.form-buscador input {
    flex: 1;
    padding: 8px;
    border: 1.5px solid var(--color-borde);
    border-radius: 5px;
    outline: none;
}

.form-buscador input:hover {
    border: 1.5px solid var(--color-focus);
}

.form-buscador button {
    padding-inline: 20px;
    border: none;
    background-color: var(--color-borde);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.form-buscador button:hover {
    cursor: pointer;
    background-color: var(--color-primario);
    color: var(--color-blanco)
}

#contenedor-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

#contenedor-productos h2 {
    grid-column: 1/ -1;
    justify-self: flex-start;
}

.producto {
    background-color: var(--color-blanco);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    padding-bottom: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.producto img {
    width: 100%;
    height: 200px;
}

.producto p:nth-child(2) {
    font-weight: bold;
    margin: 10px 0px 0px 30px;
    width: fit-content;
    padding: 5px 8px;
    background-color: var(--color-fondo);
    border-radius: 8px;
}

.producto h3 {
    color: var(--color-primario);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 20px;
}

.producto h4 {
    font-size: 18px;
    margin-left: 20px;
}

.producto p {
    font-size: 14px;
    margin-inline: 20px;
}

.footer-producto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-producto p {
    color: var(--color-primario);
    font-weight: bold;
    font-size: 20px;
}

.producto button {
    padding: 10px;
    background-color: var(--color-borde);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.producto button:hover {
    background-color: var(--color-focus);
    color: var(--color-blanco);
}

footer {
    grid-area: footer;
    background-color: var(--color-blanco);
    border-top: 2px solid var(--color-borde);
    justify-items: center;
    align-content: center;
    padding: 10px;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: var(--color-texto);
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.admin-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--color-fondo);
}

.admin-page main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 30px;
    gap: 20px;
}

.admin-page button {
    background-color: var(--color-blanco);
    border: 1px solid var(--color-texto);
    border-radius: 8px;
    padding: 10px;
    margin-block: 15px;
    font-weight: bold;
    transition: .3s;
}

.admin-page button:hover {
    background-color: var(--color-focus);
    color: var(--color-blanco);
}

.tabla-productos {
    background-color: var(--color-blanco);
}

.tabla-productos th {
    background-color: var(--color-primario);
}

.tabla-productos th, td {
    padding: 10px;
}

.tabla-productos a {
    text-decoration: none;
    color: var(--color-texto);
    padding: 8px;
    border: none;
    background: var(--color-borde);
    border-radius: 5px;
    border: 1px solid var(--color-texto);
    cursor: pointer;
    font-weight: bold;
    transition: .3s;
}

.tabla-productos a:hover {
    background: var(--color-primario);
    color: white;
}

.form-agregarProd {
    display: flex;
    flex-direction: column;
    gap: 12px;

    background: var(--color-blanco);
    border: 2px solid var(--color-borde);
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,.08);

    padding: 30px;
    width: 100%;
    max-width: 500px;
}

.form-agregarProd h3 {
    text-align: center;
    margin-bottom: 10px;
}

.form-agregarProd label {
    font-weight: bold;
    font-size: 14px;
}

.form-agregarProd input,
.form-agregarProd select,
.form-agregarProd textarea {
    padding: 10px;
    border: 2px solid var(--color-borde);
    border-radius: 6px;
    font-size: 14px;
}

.form-agregarProd input:focus,
.form-agregarProd select:focus,
.form-agregarProd textarea:focus {
    outline: none;
    border-color: var(--color-focus);
}

.form-agregarProd button[type="submit"] {
    background: var(--color-primario);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
}

.form-agregarProd button[type="submit"]:hover {
    background: var(--color-focus);
}

.admin-page footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
    padding: 20px;
    background: white;
    border-top: 2px solid var(--color-borde);
}

.cart-page main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 30px;
    gap: 20px;
}

.cart-page h2 {
    color: var(--color-primario);
    text-transform: uppercase;
    padding-bottom: 20px;
}

.carrito-vacio {
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.carrito-vacio h3 {
    font-size: 20px;
    color: var(--color-texto);
}

.carrito-vacio a {
    width: 100%;
    max-width: 800px;
    padding: 15px;
    border-radius: 12px;
    background-color: var(--color-primario);
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s;
}

.carrito-vacio a:hover {
    background-color: var(--color-focus);
}

.carrito-productos {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.lista-productos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.producto-carrito {
    min-width: 450px;
    background-color: var(--color-blanco);
    border: 1px solid var(--color-borde);
    border-radius: 16px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px var(--color-borde);
}

.producto-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.producto-info img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}

.producto-texto h3 {
    font-size: 17px;
}

.categoria {
    font-size: 13px;
    color: var(--color-texto);
    margin-block: 5px;
}

.subtotal {
    font-size: 15px;
    font-weight: bold;
    color: var(--color-texto);
}

.producto-acciones {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.cantidad-control {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 6px 15px;
    background-color: var(--color-fondo);
    border: 1px solid var(--color-borde);
    border-radius: 12px;
}

.cantidad-control button {
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.cantidad-control button:hover {
    color: var(--color-focus);
}

.cantidad-control span {
    font-weight: bold;
    min-width: 10px;
    text-align: center;
}

.btn-eliminar {
    border: 1px solid var(--color-borde);
    font-size: 14px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-eliminar:hover {
    background-color: var(--color-focus);
    color: var(--color-blanco);
}

.resumen-carrito {
    width: 300px;
    height: fit-content;
    background-color: var(--color-blanco);
    border: 1px solid var(--color-borde);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    box-shadow: 0 2px 8px var(--color-borde);
}

.resumen-carrito h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.linea-resumen, .linea-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linea-resumen {
    font-size: 16px;
}

.linea-total h3 {
    font-size: 24px;
    font-weight: 800;
}

.resumen-carrito hr {
    border: none;
    border-top: 1px solid var(--color-borde);
}

.btn-finalizar {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 14px;
    background-color: var(--color-primario);
    color: var(--color-blanco);
    font-size: 16px;
    font-weight: bold;
    cursor: not-allowed;
}

.checkout-info {
    font-size: 14px;
    text-align: center;
}

.btn-vaciar {
    width: 100%;
    padding: 10px;
    border-radius: 14px;
    border: 1px solid var(--color-borde);
    background-color: var(--color-fondo);
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-vaciar:hover {
    background-color: var(--color-focus);
    color: var(--color-blanco);
}

.cart-page footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
    padding: 20px;
    background: white;
    border-top: 2px solid var(--color-borde);
}


